@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* COMIENZA MI CODIGO */

li{
  list-style-type: none;
  
}

ul{
  padding-inline-start: 0;
}

a{
  text-decoration: none;
  font-size: medium;
  font-weight: bolder;
  color:rgba(44, 42, 42, 0.774);
}

button{
  font-size: medium;
  height: 30px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #eee;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: center;
}

.buttons{
  display: flex;
  padding: 25px;
  gap: 20px;
}

.right-links,.left-links{
  display: flex;
  gap: 30px;
}

body{
  display: flex;
  flex-direction: column;
}